.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // Путь к изображениям из SASS-файла всегда такой, как из папки css
  background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
}

.visually-hidden {
  display: none;
}

button {
  background-color: purple;
  // display: flex;
  color: green;
  border: none;
  padding: 10px;
  border-radius: 2px;
}
.search-form {
  display: flex;
  justify-content: center;
  background-color: #009688;
  padding-top: 10px;
  padding-bottom: 10px;
}
input {
  margin-right: 5px;
  width: 300px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photo-card {
  width: 300px;
  border: 5px solid rgb(247, 113, 136);
  background-color: aqua;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.info-item {
  margin-right: 5px;
}
